{% load i18n %}

<header class="card-header bg-primary rounded-top">
    <h3 class="me-3">{% trans "Skillqueue Filtered" %}</h3>
</header>
<div class="card-body rounded-bottom mb-3">
    <table class="table table-striped w-100" id="skillfarm-skillqueue-filtered">
        <thead>
            <tr>
                <th class="w-auto">{% translate "Skill" %}</th>
                <th class="w-auto">{% translate "Progress" %}</th>
                <th class="w-auto">{% translate "Start Date" %}</th>
                <th class="w-auto">{% translate "Finish Date" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4" class="text-center" id="loading-message-container">
                    <div class="spinner-border text-primary">
                        <span class="visually-hidden">{% translate "Loading..." %}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
