.header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.avatar {
    border-radius: 50%;
}

.title {
    margin: 0;
    font-size: var(--aa-font-size-xl);
    font-weight: 700;
}
